body {
  background-color:  #252525 ;
  color: #2b669a;
}

li { color: #2b669a}

p{ color: #2b669a}

.helptext{ color: rgba(255,255,255,.5);}


#tablefuncionestreno, #tablefuncion, #tableidioma, #tablefuncion, #tablegenero, #tableidioma, #tablepelicula
{
    background-color:white;
}

#tablepelicula_info,#tableidioma_info, #tablefuncion_info, #tablegenero_info, #tablefuncionestreno_info, #Cantidad
{
    color: white;
}

#duracion ,#genero, #idioma
{
    color: white;
}

.dataTables_info
{
    label:white;
    color: white;
}

label {
color:white;
}

.list-group-item.active {
    border-color:gray;
}

.h1, .h3, .h6, h1,  h3,  h6 {

    color: white;
}
.h2, h2, h5, .h5, .h4, h4{
    color: black;
}

.b
{
    color:black;
}

.mb-0 {
    color: white;
}

.reply-btn{
    color:gray;
}








