{%extends 'base.html'%}

{% load staticfiles %}

{%block title%}Home{%endblock%}

{%block content%}


<h1 class="my-4"></h1>
<a class="btn btn-secondary" href="{% url 'administrar' %}" role="button">Volver</a>
<h1 class="my-4"></h1>
{% if comentarios %}
<table id="tablefuncion" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col">Comentario</th>
        <th scope="col">Fecha creacion</th>
        <th scope="col">Usuario del comentario</th>
        <th scope="col">cantidad denuncias</th>
        <th scope="col">Ver denuncias</th>
        <th scope="col">Desactivar comentario</th>

    </tr>
    </thead>
    <tbody>
    {% for comentario in comentarios%}
    <tr>
        <th scope="row">{{comentario.text}}</th>
        <th scope="row">{{comentario.created_date}}</th>
        <th scope="row">{{comentario.usuario}}</th>
        <th scope="row">{{comentario.cantidad_denuncia}}</th>
        <th scope="row">
            <a href="{% url 'mostrardenuncias' comentario.id %}">Denuncias</a>
        </th>
        <th scope="row">
            {% if comentario.approved_comment %}
                <a class="btn btn-primary" href="{% url 'estadocomentario' comentario.id%}" role="button">Activado</a>
            {%else%}
                <a class="btn btn-danger" href="{% url 'estadocomentario' comentario.id%}" role="button">Desactivado</a>
            {% endif %}

        </th>
    </tr>
    {%endfor%}
    </tbody>
</table>
{%endif%}
{%endblock%}


{%block js%}
    <script>
        $(document).ready( function () {
            $('#tablefuncion').DataTable({
                language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
                }
            });
        } );
    </script>
{%endblock js%}