{%extends 'base.html'%}

{% load staticfiles %}

{%block title%}Home{%endblock%}

{%block content%}

<h1 class="my-4"></h1>
<a class="btn btn-secondary" href="{% url 'crearfuncion' %}" role="button">Crear funcion</a>
<a class="btn btn-secondary" href="{% url 'administrar' %}" role="button">Volver</a>
<h1 class="my-4"></h1>
    {% if funciones %}
    <table id="tablefuncion" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th scope="col">Cine</th>
                <th scope="col">Pelicula</th>
                <th scope="col">Estreno</th>
                <th scope="col">Fecha</th>
                <th scope="col">Horario</th>
                <th scope="col">Idioma</th>
                <th scope="col">Subtitulo</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>
            {% for fun in funciones%}
            <tr>
                <th scope="row">{{fun.cine}}</th>
                <th scope="row">{{fun.pelicula}}</th>
                <th scope="row">{{fun.estreno}}</th>
                <th scope="row">{{fun.dia}}</th>
                <th scope="row">{{fun.horario}}</th>
                <th scope="row">{{fun.idioma}}</th>
                <th scope="row">{{fun.subtitulo}}</th>
                <th scope="row">
                    <a href="{% url 'editarfuncion' fun.id %}">editar</a>
                    <a href="{% url 'eliminarfuncion' fun.id %}">eliminar</a>
                </th>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}
{%endblock%}




{%block js%}
    <script>
        $(document).ready( function () {
            $('#tablefuncion').DataTable({
                language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
                }
            });
        } );
    </script>
{%endblock js%}
