{%extends 'base.html'%}

{% load staticfiles %}

{%block title%}Home{%endblock%}

{%block content%}

<h1 class="my-4"></h1>
<a class="btn btn-secondary" href="{% url 'crearpelicula' %}" role="button">Crear pelicula</a>
<a class="btn btn-secondary" href="{% url 'administrar' %}" role="button">Volver</a>
<h1 class="my-4"></h1>
    {% if peliculas %}
    <table id="tablepelicula" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Imagen</th>
                <th scope="col">Duracion</th>
                <th scope="col">Genero</th>
                <th scope="col">Idioma</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pelicula in peliculas%}
            <tr>
                <th scope="row">{{pelicula.nombre}}</th>
                <th scope="row">{{pelicula.imagen}}</th>
                <th scope="row">{{pelicula.duracionMinutos}} minutos</th>
                <th scope="row">{% for gen in pelicula.genero.all%}{{gen}} {%endfor%}</th>
                <th scope="row">{% for idio in pelicula.idioma.all%}{{idio}} {%endfor%}</th>
                <th scope="row">
                    <a href="{% url 'editarpelicula' pelicula.id %}">editar</a>
                    <a href="{% url 'eliminarpelicula' pelicula.id %}">eliminar</a>
                </th>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}
{%endblock%}


{%block js%}
    <script>
        $(document).ready( function () {
            $('#tablepelicula').DataTable({
                language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
                }
            });
        } );
    </script>
{%endblock js%}








