{%extends 'base.html'%}

{% load staticfiles %}

{%block title%}Home{%endblock%}

{%block barra%}

<h1 class="my-4"></h1>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active bg-dark"> Administrar </a>
    <a href="{% url 'administrarcine' %}" class="list-group-item list-group-item-action">Administrar cine</a>
    <a href="{% url 'administrarfuncion' %}" class="list-group-item list-group-item-action">Administrar Funciones</a>
</div>

<h1 class="my-4"></h1>
{% if request.user.is_superuser or request.user.is_staff  %}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active bg-dark"> Administrar Staff </a>
    <a href="{% url 'administrarpelicula' %}" class="list-group-item list-group-item-action">Administrar peliculas</a>
    <a href="{% url 'administrargenero' %}" class="list-group-item list-group-item-action">Administrar genero</a>
    <a href="{% url 'administraridioma' %}" class="list-group-item list-group-item-action">Administrar idioma</a>
</div>
{% endif %}

<h1 class="my-4"></h1>
{% if request.user.is_superuser or request.user.is_staff %}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active bg-dark"> Administrar Super Usuario </a>
    <a href="{% url 'administrarDenunciaComentarios' %}" class="list-group-item list-group-item-action">Administrar denuncias</a>
</div>
{% endif %}



{%endblock barra%}