{%extends 'base.html'%}

{% load staticfiles %}

{%block title%}Home{%endblock%}

{%block content%}

<h1 class="my-4"></h1>
<a class="btn btn-secondary" href="{% url 'creargenero' %}" role="button">Crear genero</a>
<a class="btn btn-secondary" href="{% url 'administrar' %}" role="button">Volver</a>
<h1 class="my-4"></h1>
    {% if genero %}
    <table id="tablegenero" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th scope="col">Genero</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>
            {% for gen in genero%}
            <tr>
                <th scope="row">{{gen.genero}}</th>
                <th scope="row">
                    <a href="{% url 'editargenero' gen.id %}">editar</a>
                    <a href="{% url 'eliminargenero' gen.id %}">eliminar</a>
                </th>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}
{%endblock%}


{%block js%}

    <script>
        $(document).ready( function () {
            $('#tablegenero').DataTable({
                language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
                }
            }
            );
        } );
    </script>
{%endblock js%}
