<!doctype html>
{%load staticfiles%}

{%load static %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ form.media.css }}
    {%block meta%}{%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.11/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">



    <title>
        {%block title%}
        {%endblock%}
    </title>

</head>
<body>
{%block navbar%}
{{ form.media.js }}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{%static 'img/logo_cine.png'%}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'home' %}">Inicio</a>
            <a class="nav-item nav-link" href="{% url 'administrar' %}">Administra tu cine</a>
        </div>
        <!-- Navbar Right Side-->
        <div class="navbar-nav">
            {% if request.user.is_superuser or request.user.is_staff  %}
            <a class="nav-item nav-link" href="/admin">Administrador</a>
            {% endif %}
            {% if request.user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'auth_logout' %}">Salir</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'registration_register' %}">Registrarse</a>
            <a class="nav-item nav-link" href="{% url 'auth_login' %}">Iniciar Sesion</a>
            {% endif %}
        </div>

    </div>
</nav>
{%endblock%}

<div class="container-fluid">
    {%block content%}
    <div class="row">
        <div class="col-lg-3"> {%block barra%} {%endblock barra%}</div>
        <div class="col-lg-9"> {%block contenido%} {%endblock contenido%}</div>
    </div>
    {%endblock%}
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.11/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"> </script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>




{%block js%} {%endblock js%}

</body>
</html>