<div class="container-fluid mt-2">
    <div class="form-group row">
        <form method="post" class="comment-form" action=".">
            {% csrf_token %}
            {{comment_form.as_p}}
            {% if request.user.is_authenticated %}
            <input type="submit" value="Submit" class="btn btn-outline-success">
            {%else%}
            <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
            {%endif%}
        </form>
    </div>
</div>

<p id="Cantidad">{{comments.count}} Comentario{{comments|pluralize}}</p>


{% for comment in comments %}
<blockquote class="blockquote">
    <p class="mb-0"><small>{{comment.text}}</small></p>
    <footer class="blockquote-footer">
        <small>Escrito por: <cite title="Source Title">{{comment.usuario|capfirst}}</cite>
            el {{comment.created_date}}
            {% if request.user.is_authenticated %}
            <a class="btn btn-danger" href="{% url 'denuncia' comment.id %}" role="button">Denunciar</a>
            {%endif%}
        </small>
        <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sn">Reply</button>
    </footer>
</blockquote>

<div class="replied-comments container mt-2" style="display:none;">
    {% for reply in comment.replies.all %}
        {% if reply.approved_comment %}
        <blockquote class="blockquote">
            <p class="mb-0"><small>{{reply.text}}</small></p>
            <footer class="blockquote-footer">
                <small>Escrito por: <cite
                        title="Source Title">{{reply.usuario|capfirst}}</cite> el {{com.created_date}}
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-danger" href="{% url 'denuncia' reply.id %}" role="button">Denunciar</a>
                    {%endif%}
                </small>
            </footer>
        </blockquote>
        {%endif%}
    {%endfor%}



    <div class="form-group row">
        <form method="post" class="reply-form" action=".">
            {% csrf_token %}
            <input type="hidden" name="reply_id" value="{{comment.id}}">
            {{comment_form.as_p}}
            {% if request.user.is_authenticated %}
            <input type="submit" value="Submit" class="btn btn-outline-success">
            {%else%}
            <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
            {%endif%}
        </form>
    </div>

</div>
{% endfor %}