{%extends 'base.html'%}

{% load crispy_forms_tags %}

{% load staticfiles %}
{%block meta%}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    {{ form.media.css }}
{%endblock%}

{%block content%}


    <div class ='row justify-content-center'>
        <div class='col-md-6 col-md-offset-3'>
            <h1 class="my-4"></h1>
            <form method="POST">
                {%csrf_token%}
                {{funcion_form|crispy}}
                <input class="btn btn-primary" type="submit" value="Crear">
                <a class="btn btn-primary" href="{% url 'administrarfuncion' %}" role="button">Volver</a>
            </form>
        </div>
    </div>
{%endblock%}
{%block js%}
    {{ form.media.js }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#id_pelicula').select2();
        });
    </script>
{%endblock js%}
