{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load staticfiles %}

{%block content%}
    <div class ='row justify-content-center'>
        <div class='col-md-6 col-md-offset-3'>
            <h1 class="my-4"></h1>
            <form method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            {{cine_form|crispy}}
            <input class="btn btn-secondary" type="submit" value="Crear">
            <a class="btn btn-secondary" type="submit" href="{% url 'administrarcine' %}" role="button">Volver</a>
            </form>
        </div>
    </div>
{%endblock%}