{%extends 'base.html'%}

{% load crispy_forms_tags %}

{% load staticfiles %}

{%block content%}
    <div class ='row justify-content-center'>
        <div class='col-md-6 col-md-offset-3'>
            <h1 class="my-4"></h1>
            <form method="POST">
                {%csrf_token%}
                {{denuncia_form|crispy}}
                <input class="btn btn-primary" type="submit" value="Crear">
                <a class="btn btn-primary" href="{% url 'home' %}" role="button">Volver</a>
            </form>
        </div>
    </div>
{%endblock%}