{%extends 'base.html'%}

{% load staticfiles %}

{%block title%}Detalle Estrenos{%endblock%}


{%block barra%}
    <h1 class="my-4"></h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active bg-dark"> Cine {{cine.nombre}}</a>
        <a href="{% url 'mostrarcine' cine.id %}" class="list-group-item list-group-item-action">Informacion</a>
        <a href="{% url 'mostrarpeliculas' cine.id %}" class="list-group-item list-group-item-action">Peliculas</a>
        <a href="{% url 'mostrarfunciones' cine.id %}" class="list-group-item list-group-item-action">Funciones</a>
    </div>

{%endblock barra%}


{%block contenido%}
<br>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><b><u>Datos:</u> </b></h5>
        <p class="card-text"><b>Cine:</b> {{ funcion.cine }}</p>
        <p class="card-text"><b>Pelicula:</b> {{ funcion.pelicula }}</p>
        <p class="card-text"><b>Genero:</b>
            {% for genero in funcion.pelicula.genero.all%}
            {{genero }}
            {%endfor%}
        </p>
        <p class="card-text"><b>Idioma:</b>
            {% for idioma in funcion.pelicula.idioma.all%}
            {{idioma}}
            {%endfor%}
        </p>
        <p class="card-text"><b>duracion: </b>{{funcion.pelicula.duracionMinutos}} minutos</p>

        {{total_votos}} Voto{{total_votos|pluralize}}
        {% if request.user.is_authenticated %}
        <form action="{% url 'votar' funcion.id cine.id %}" method="post">
            {% csrf_token %}
            {% if is_voto %}
                <button type="submit" name="fun_id" value="{{funcion.id}}" class="btn btn-danger">No</button>
            {%else%}
                <button type="submit" name="fun_id" value="{{funcion.id}}" class="btn btn-primary">Si</button>
            {% endif %}
        </form>
        {% endif %}
    </div>
</div>

<hr>
<div class="main-comment-section">
        {%include 'comments.html'%}
</div>

{% endblock %}


{%block js%}
<script>
    $('.reply-btn').click(function() {
        $(this).parent().parent().next('.replied-comments').fadeToggle()
    });

    $ (document).on('submit' , '.comment-form', function (event) {
        event.preventDefault();
        console.log($(this));
        $.ajax({
            type: 'POST',
            ulr : $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function (response) {
                $('.main-comment-section').html(response['form'])
                $('texttarea').val('');
                $('.reply-btn').click(function() {
                    $(this).parent().parent().next('.replied-comments').fadeToggle();
                $('texttarea').val('');
             });
            },
            error:function (rs,e) {
              console.log(rs.RespondText)
            },
            }
        )
    })

     $ (document).on('submit' , '.reply-form', function (event) {
        event.preventDefault();
        console.log($(this));
        $.ajax({
            type: 'POST',
            ulr : $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function (response) {
                $('.main-comment-section').html(response['form'])
                $('texttarea').val('');
                $('.reply-btn').click(function() {
                    $(this).parent().parent().next('.replied-comments').fadeToggle();
                $('texttarea').val('');
             });
            },
            error:function (rs,e) {
              console.log(rs.RespondText)
            },
            }
        )
    })
</script>
{%endblock js%}