{%extends 'base.html'%}

{% load staticfiles %}

{%block title%}Detalle{%endblock%}

{%block content%}

<h1>{{ pelicula.nombre }}</h1>
<div class="row">
    <div class="col-md-8">
        {% if pelicula.imagen %}
            <a href="#"><img src={{pelicula.imagen.url}} class="card-img-top" width="100%" alt="imagen pelicuala"></a>
            {% else %}
            <img src="" class="card-img-top" width="200" height="200" alt="...">
            {% endif %}
    </div>
    <div class="col-md-4">
        <h3>Duracion:</h3>
        <p id="duracion">{{ pelicula.duracionMinutos }} minutos</p>
        <p>{{request.url}}</p>
        <br>
        <h3>Genero:</h3>
        {% for genero in pelicula.genero.all%}
        <p id="genero">{{genero}}</p>
        {%endfor%}

        <br>
        <h3 >Idioma:</h3>
        {% for idioma in pelicula.idioma.all%}
        <p id="idioma"> {{idioma}}</p>
        {%endfor%}
    </div>
</div>


<hr>
<div class="main-comment-section">
    {%include 'comments.html'%}

</div>

{% endblock %}

{%block js%}
<script>
    $('.reply-btn').click(function() {
        $(this).parent().parent().next('.replied-comments').fadeToggle()
    });

    $ (document).on('submit' , '.comment-form', function (event) {
        event.preventDefault();
        console.log($(this));
        $.ajax({

            type: 'POST',
            ulr : $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function (response) {
                $('.main-comment-section').html(response['form'])
                $('texttarea').val('');
                $('.reply-btn').click(function() {
                    $(this).parent().parent().next('.replied-comments').fadeToggle();
                $('texttarea').val('');
             });
            },
            error:function (rs,e) {
              console.log(rs.RespondText)
            },
            }
        )
    })

     $ (document).on('submit' , '.reply-form', function (event) {
        event.preventDefault();
        console.log($(this));
        $.ajax({

            type: 'POST',
            ulr : $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function (response) {
                $('.main-comment-section').html(response['form'])
                $('texttarea').val('');
                $('.reply-btn').click(function() {
                    $(this).parent().parent().next('.replied-comments').fadeToggle();
                $('texttarea').val('');
             });
            },
            error:function (rs,e) {
              console.log(rs.RespondText)
            },
            }
        )
    })


</script>
{%endblock js%}

