{%extends 'base.html'%}

{% load staticfiles %}

{% load static %}

{%block title%}Home{%endblock%}

{%block barra%}
    <h1 class="my-4"></h1>

    <a href="#" class="list-group-item list-group-item-action active bg-dark"> Cines </a>
    {% for cine in cines%}
        <a href="{% url 'mostrarcine' cine.id %}" class="list-group-item list-group-item-action">{{cine.nombre}}</a>
    {%endfor%}

{%endblock barra%}


{%block contenido%}
<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="{%static 'img/estreno.jpg'%}" alt="cines">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="{%static 'img/cine.jpg'%}" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="{%static 'img/peliculas.jpg'%}" alt="Third slide">
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<h3>Peliculas</h3>
<div class="row">
    {% for pelicula in peliculas%}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            {% if pelicula.imagen %}
                <a href="#"><img src={{pelicula.imagen.url}} class="card-img-top" width="200" height="250" alt="pelicula home"></a>
            {% else %}
                <img src="" class="card-img-top" width="200" height="200" alt="...">
            {% endif %}

            <div class="card-body">
                <h4 class="card-title"><a href="#">{{pelicula.nombre}}</a></h4>
                <p class="card-text"><b>Genero:</b>
                    {% for genero in pelicula.genero.all%}
                    {{genero}}
                    {%endfor%}
                </p>
                <p class="card-text"><b>Idioma:</b>
                    {% for idioma in pelicula.idioma.all%}
                    {{idioma}}
                    {%endfor%}
                </p>
                <p class="card-text"><b>duracion: </b>{{pelicula.duracionMinutos}} minutos</p>
                <a href="{% url 'detalle' pelicula.id %}" class="btn btn-primary">Mostrar mas</a>
            </div>

        </div>
    </div>
    {%endfor%}
</div>


{% if peliculas.has_other_pages %}
<nav aria-label="...">
    <ul class="pagination">

        {% if peliculas.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ peliculas.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        {% endif %}

        {% for i in peliculas.paginator.page_range %}
        {% if peliculas.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if peliculas.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ peliculas.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{%endblock contenido%}

