{%extends 'home.html'%}

{% load staticfiles %}

{%block title%}Cine{%endblock%}

{%block barra%}
    <h1 class="my-4"></h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active bg-dark"> Cine {{cine.nombre}}</a>
        <a href="{% url 'mostrarcine' cine.id %}" class="list-group-item list-group-item-action">Informacion</a>
        <a href="{% url 'mostrarpeliculas' cine.id %}" class="list-group-item list-group-item-action">Peliculas</a>
        <a href="{% url 'mostrarfunciones' cine.id %}" class="list-group-item list-group-item-action">Funciones</a>
    </div>

{%endblock barra%}

{%block contenido%}
<h1 class="my-4"></h1>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            {% if cine.imagen %}
                <a href="#"><img src={{cine.imagen.url}} class="card-img-top" height="250" width="200"  alt=""></a>
            {% else %}
                <img src="" class="card-img-top" width="200" height="200" alt="...">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title"><b><u>{{cine.nombre}}</u></b></h4>
                <h5 class="card-title"><b>Direccion:</b></h5>
                <p class="card-text">{{cine.direccion}}</p>
                <h5 class="card-title"><b>Horario:</b></h5>
                <p class="card-text">{{cine.horariosInicio}} a {{cine.horariosFin}}</p>
            </div>
        </div>
    </div>
</div>

{%endblock contenido%}

