{%extends 'home.html'%}

{% load staticfiles %}

{% load static %}

{%block title%}Funciones{%endblock%}

{%block barra%}
    <h1 class="my-4"></h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active bg-dark"> Cine {{cine.nombre}}</a>
        <a href="{% url 'mostrarcine' cine.id %}" class="list-group-item list-group-item-action">Informacion</a>
        <a href="{% url 'mostrarpeliculas' cine.id %}" class="list-group-item list-group-item-action">Peliculas</a>
        <a href="{% url 'mostrarfunciones' cine.id %}" class="list-group-item list-group-item-action">Funciones</a>
    </div>

{%endblock barra%}

{%block contenido%}

<h1 class="my-4"></h1>
<h3>Peliculas Estrenos</h3>

<div class="row">
    {% for pelicula in listaEstreno%}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            {% if pelicula.imagen %}
                <a href="#"><img src={{pelicula.imagen.url}} class="card-img-top" width="200" height="250" alt="pelicula home"></a>
            {% else %}
                <img src="" class="card-img-top" width="200" height="200" alt="...">
            {% endif %}

            <div class="card-body">
                <h4 class="card-title"><a href="#">{{pelicula.nombre}}</a></h4>
                <p class="card-text"><b>Genero:</b>
                    {% for genero in pelicula.genero.all%}
                    {{genero}}
                    {%endfor%}
                </p>
                <p class="card-text"><b>Idioma:</b>
                    {% for idioma in pelicula.idioma.all%}
                    {{idioma}}
                    {%endfor%}
                </p>
                <p class="card-text"><b>duracion: </b>{{pelicula.duracionMinutos}} minutos</p>
                <a href="{% url 'detallefunciones' pelicula.id cine.id  %}" class="btn btn-secondary">Mostrar mas</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>


{% if listaEstreno.has_other_pages %}
<nav aria-label="...">
    <ul class="pagination">

        {% if listaEstreno.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ listaEstreno.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        {% endif %}

        {% for i in listaEstreno.paginator.page_range %}
        {% if listaEstreno.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if listaEstreno.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ listaEstreno.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}


<h1 class="my-4"></h1>
<h3>Peliculas</h3>

<div class="row">
    {% for pelicula in listapelicula%}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            {% if pelicula.imagen %}
                <a href="#"><img src={{pelicula.imagen.url}} class="card-img-top" width="200" height="250" alt="pelicula home"></a>
            {% else %}
                <img src="" class="card-img-top" width="200" height="200" alt="...">
            {% endif %}

            <div class="card-body">
                <h4 class="card-title"><a href="#">{{pelicula.nombre}}</a></h4>
                <p class="card-text"><b>Genero:</b>
                    {% for genero in pelicula.genero.all%}
                    {{genero}}
                    {%endfor%}
                </p>
                <p class="card-text"><b>Idioma:</b>
                    {% for idioma in pelicula.idioma.all%}
                    {{idioma}}
                    {%endfor%}
                </p>
                <p class="card-text"><b>duracion: </b>{{pelicula.duracionMinutos}} minutos</p>
                <a href="{% url 'detallefunciones' pelicula.id cine.id  %}" class="btn btn-secondary">Mostrar mas</a>

            </div>

        </div>
    </div>
    {%endfor%}
</div>


{% if listapelicula.has_other_pages %}
<nav aria-label="...">
    <ul class="pagination">

        {% if listapelicula.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ listapelicula.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        {% endif %}

        {% for i in listapelicula.paginator.page_range %}
        {% if listapelicula.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if listapelicula.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ listapelicula.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{%endblock%}



{%block js%}



{%endblock js%}
