{%extends 'home.html'%}

{% load staticfiles %}

{% load static %}

{%block title%}Funciones{%endblock%}

{%block barra%}
    <h1 class="my-4"></h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active bg-dark"> Cine {{cine.nombre}}</a>
        <a href="{% url 'mostrarcine' cine.id %}" class="list-group-item list-group-item-action">Informacion</a>
        <a href="{% url 'mostrarpeliculas' cine.id %}" class="list-group-item list-group-item-action">Peliculas</a>
        <a href="{% url 'mostrarfunciones' cine.id %}" class="list-group-item list-group-item-action">Funciones</a>
    </div>

{%endblock barra%}

{%block contenido%}

<h1 class="my-4"></h1>






<h3>Todas las funciones</h3>

<div class="row">
    {% for pelicula in listaToda%}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            {% if pelicula.pelicula.imagen %}
                <a href="#"><img src={{pelicula.pelicula.imagen.url}} class="card-img-top" width="200" height="250" alt="pelicula home"></a>
            {% else %}
                <img src="" class="card-img-top" width="200" height="200" alt="...">
            {% endif %}

            <div class="card-body">
                <h4 class="card-title"><a href="#">{{pelicula.pelicula.nombre}}</a></h4>
                <p class="card-text"><b>Dia: </b>{{pelicula.dia}} </p>
                <p class="card-text"><b>Hora: </b>{{pelicula.horario}} </p>
                <p class="card-text"><b>Subtitulo: </b>{{pelicula.subtitulo}} </p>
                <a href="{% url 'detalleestrenos' pelicula.id cine.id %}" class="btn btn-primary">Votar</a>
            </div>

        </div>
    </div>
    {%endfor%}
</div>


{% if listaToda.has_other_pages %}
<nav aria-label="...">
    <ul class="pagination">

        {% if listaToda.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ listaToda.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        {% endif %}

        {% for i in listaToda.paginator.page_range %}
        {% if listaToda.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if listaToda.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ listaToda.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}














<h3>Funciones Estrenos</h3>

<div class="row">
    {% for pelicula in listaFuncionesEstreno%}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            {% if pelicula.pelicula.imagen %}
                <a href="#"><img src={{pelicula.pelicula.imagen.url}} class="card-img-top" width="200" height="250" alt="pelicula home"></a>
            {% else %}
                <img src="" class="card-img-top" width="200" height="200" alt="...">
            {% endif %}

            <div class="card-body">
                <h4 class="card-title"><a href="#">{{pelicula.pelicula.nombre}}</a></h4>
                <p class="card-text"><b>Dia: </b>{{pelicula.dia}} </p>
                <p class="card-text"><b>Hora: </b>{{pelicula.horario}} </p>
                <p class="card-text"><b>Subtitulo: </b>{{pelicula.subtitulo}} </p>
                <a href="{% url 'detalleestrenos' pelicula.id cine.id %}" class="btn btn-primary">Votar</a>
            </div>

        </div>
    </div>
    {%endfor%}
</div>


{% if listaFuncionesEstreno.has_other_pages %}
<nav aria-label="...">
    <ul class="pagination">

        {% if listaFuncionesEstreno.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ listaFuncionesEstreno.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        {% endif %}

        {% for i in listaFuncionesEstreno.paginator.page_range %}
        {% if listaFuncionesEstreno.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if listaFuncionesEstreno.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ listaFuncionesEstreno.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}


<h1 class="my-4"></h1>
<h3>Funciones no estreno</h3>

<div class="row">
    {% for pelicula in listaFunciones%}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            {% if pelicula.pelicula.imagen %}
                <a href="#"><img src={{pelicula.pelicula.imagen.url}} class="card-img-top" width="200" height="250" alt="pelicula home"></a>
            {% else %}
                <img src="" class="card-img-top" width="200" height="200" alt="...">
            {% endif %}

            <div class="card-body">
                <h4 class="card-title"><a href="#">{{pelicula.pelicula.nombre}}</a></h4>
                <p class="card-text"><b>Dia: </b>{{pelicula.dia}} </p>
                <p class="card-text"><b>Hora: </b>{{pelicula.horario}} </p>
                <p class="card-text"><b>Subtitulo: </b>{{pelicula.subtitulo}} </p>
                <a href="{% url 'detalleestrenos' pelicula.id cine.id %}" class="btn btn-primary">Votar</a>
            </div>

        </div>
    </div>
    {%endfor%}
</div>


{% if listaFunciones.has_other_pages %}
<nav aria-label="...">
    <ul class="pagination">

        {% if listaFunciones.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ listaFunciones.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        {% endif %}

        {% for i in listaFunciones.paginator.page_range %}
        {% if listaFunciones.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if listaFunciones.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ listaFunciones.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{%endblock%}



{%block js%}

{%endblock js%}
