{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation Failure" %}{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    <button class="close" data-dismiss="alert"><samp>&times;</samp></button>
    La activación de la cuenta falló.
</div>
<!--
<p>{% trans "Account activation failed." %}</p>
-->
{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
