{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}

<div class="alert alert-primary" role="alert">
    <button class="close" data-dismiss="alert"><samp>&times;</samp></button>
    Tu cuenta ahora está activada
    {% if not user.is_authenticated %}
    Puedes iniciar sesión.
    {% endif %}
</div>
<!--
<p>
    {% trans "Your account is now activated." %}
    {% if not user.is_authenticated %}
    {% trans "You can log in." %}
    {% endif %}
</p>
-->
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
