{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    <button class="close" data-dismiss="alert"><samp>&times;</samp></button>
    Su cuenta ahora está activada.
    {% if not user.is_authenticated %}
    Una vez que el administrador del sitio active su cuenta, puede iniciar sesión

</div>
<!--
<p>
    {% trans "Your account is now activated." %}
    {% if not user.is_authenticated %}
    {% trans "Once a site administrator activates your account you can login." %}
    {% endif %}
</p>
-->
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
