{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "admin approval" %}</title>
</head>

<body>
<p>
    {% blocktrans %}
    Su cuenta ahora está aprobada. Usted puede
    {% endblocktrans %}
    <a href="http://{{site.domain}}{% url 'login' %}">{% trans "Iniciar Sesion." %}</a>
</p>
</body>

</html>


{% comment %}
**registration/admin_approve_complete_email.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
