{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    <button class="close" data-dismiss="alert"><samp>&times;</samp></button>
    Salió exitosamente
</div>
<!--
<p>{% trans "Successfully logged out" %}.</p>
-->
{% endblock %}
