{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    <button class="close" data-dismiss="alert"><samp>&times;</samp></button>
    ¡Contraseña cambiada correctamente!
</div>
<!--
<p>{% trans "Password successfully changed!" %}</p>
-->
{% endblock %}


{# This is used by django.contrib.auth #}
