{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    <button class="close" data-dismiss="alert"><samp>&times;</samp></button>
    ¡Su contraseña ha sido restablecida!
    {% blocktrans%} Ahora puede <a href="{{ login_url }}"> iniciar sesión </a> {% endblocktrans%}.
</div>
<!--
<p>
    {% trans "Your password has been reset!" %}
    {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.
</p>
-->
{% endblock %}


{# This is used by django.contrib.auth #}
