{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class ='row justify-content-center'>
    <div class='col-md-6 col-md-offset-3'>
            <h2 class='text-align-center'><strong>Iniciar Sesion</strong></h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="{% trans 'Cambiar contraseña' %}" />
            </form>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
