{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    <button class="close" data-dismiss="alert"><samp>&times;</samp></button>
    {% blocktrans%}
     Le hemos enviado un correo electrónico con un enlace para restablecer su contraseña. por favor, compruebe
     su correo electrónico y haga clic en el enlace para continuar.
     {% endblocktrans%}
</div>
<!--
<p>
    We have sent you an email with a link to reset your password. Please check
    your email and click the link to continue.
</p>
-->

{% endblock %}


{# This is used by django.contrib.auth #}
