{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class ='row justify-content-center'>
    <div class='col-md-6 col-md-offset-3'>
        <p>
            {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
            {% endblocktrans %}
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="{% trans 'Reset password' %}" />
        </form>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
