{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
{% if validlink %}
<div class ='row justify-content-center'>
    <div class='col-md-6 col-md-offset-3'>
          <p>{% trans "Ingrese su nueva contraseña a continuación para restablecer su contraseña:" %}</p>
          <form method="post" action="">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" value="{% trans 'Configurar contraseña' %}" />
          </form>
        {% else %}
          Restablecimiento de contraseña fallido<a href="{% url 'auth_password_reset' %}">intentelo de nuevo.</a>
        {% endif %}

        {% endblock %}
    </div>
</div>

{# This is used by django.contrib.auth #}