{% extends "registration/registration_base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}
 
{% block content %}

<div class ='row justify-content-center'>
    <div class='col-md-6 col-md-offset-3'>
            <h1 class='text-align-center'><strong>Registrate</strong></h1>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit"  value="{% trans 'Enviar' %}" />
                </form>
    </div>
</div>

{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
