{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration is closed" %}{% endblock %}

{% block content %}

<div class="alert alert-primary" role="alert">
    <button class="close" data-dismiss="alert"><samp>&times;</samp></button>
    Lo siento, pero el registro está cerrado en este momento. Vuelve más tarde.
</div>
<!--
<p>{% trans "Sorry, but registration is closed at this moment. Come back later." %}</p>
{% endblock %}
-->
